// Base font wrapper
.grid-base-font-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(38em, 1fr));
    grid-template-rows: auto;

    @media screen and (min-width: 576px) {
        grid-template-columns: repeat(auto-fit, minmax(38em, 1fr));
    }
}

.base-font-styles-container {
    padding: 3em;

    @include e(roboto) {

        h1,
        h2,
        p {
            font-family: 'Roboto', sans-serif !important;
            position: relative;
        }

        h1 {
            &::before {
                font-size: .9rem;
                padding: .5em;
                content: "h1";
                display: inline-block;
                position: absolute;
                top: -30px;
                right: 0px;
                width: 2em;
                height: 2em;
                background: red;
                border-radius: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                color: white;
                font-weight: bold;
            }
        }

        h2 {
            &::before {
                font-size: .9rem;
                padding: .5em;
                content: "h2";
                display: inline-block;
                position: absolute;
                top: -30px;
                right: 0px;
                width: 2em;
                height: 2em;
                background: red;
                border-radius: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                color: white;
            }
        }

        p {
            &::before {
                font-size: .9rem;
                padding: .5em;
                content: "p";
                display: inline-block;
                position: absolute;
                top: -45px;
                right: 0px;
                width: 2em;
                height: 2em;
                background: red;
                border-radius: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                color: white;
            }
        }

        @include m(h0-ttl) {
            font-family: 'Roboto', serif;
            font-size: 7em;
            word-wrap: break-word;
            margin: 0 0 .2em;
            line-height: 1em;
            letter-spacing: .02em;
            font-weight: bold;
        }
    }

    @include e(poppins) {

        h1,
        h2,
        p {
            font-family: 'Poppins', serif;
            position: relative;
        }

        h1 {
            &::before {
                font-size: .9rem;
                padding: .5em;
                content: "h1";
                display: inline-block;
                position: absolute;
                top: -30px;
                right: 0px;
                width: 2em;
                height: 2em;
                background: red;
                border-radius: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                color: white;
                font-weight: bold;
            }
        }

        h2 {
            &::before {
                font-size: .9rem;
                padding: .5em;
                content: "h2";
                display: inline-block;
                position: absolute;
                top: -30px;
                right: 0px;
                width: 2em;
                height: 2em;
                background: red;
                border-radius: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                color: white;
            }
        }

        p {
            &::before {
                font-size: .9rem;
                padding: .5em;
                content: "p";
                display: inline-block;
                position: absolute;
                top: -45px;
                right: 0px;
                width: 2em;
                height: 2em;
                background: red;
                border-radius: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                color: white;
            }
        }

        @include m(h0-ttl) {
            font-family: 'Poppins', serif;
            font-size: 7em;
            word-wrap: break-word;
            margin: 0 0 .2em;
            line-height: 1em;
            letter-spacing: .02em;
            font-weight: bold;



        }
    }
    @include e(playfair) {

        h1,
        h2,
        p {
            font-family: 'Playfair Display', serif;
            position: relative;
        }

        h1 {
            &::before {
                font-size: .9rem;
                padding: .5em;
                content: "h1";
                display: inline-block;
                position: absolute;
                top: -30px;
                right: 0px;
                width: 2em;
                height: 2em;
                background: red;
                border-radius: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                color: white;
                font-weight: bold;
            }
        }

        h2 {
            &::before {
                font-size: .9rem;
                padding: .5em;
                content: "h2";
                display: inline-block;
                position: absolute;
                top: -30px;
                right: 0px;
                width: 2em;
                height: 2em;
                background: red;
                border-radius: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                color: white;
            }
        }

        p {
            &::before {
                font-size: .9rem;
                padding: .5em;
                content: "p";
                display: inline-block;
                position: absolute;
                top: -45px;
                right: 0px;
                width: 2em;
                height: 2em;
                background: red;
                border-radius: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                color: white;
            }
        }

        @include m(h0-ttl) {
            font-family: 'Playfair Display', serif;
            font-size: 7em;
            word-wrap: break-word;
            margin: 0 0 .2em;
            line-height: 1em;
            letter-spacing: .02em;
        }
    }
    @include e(playfair) {

        h1,
        h2,
        p {
            font-family: 'Playfair Display', serif;
            position: relative;
        }

        h1 {
            &::before {
                font-size: .9rem;
                padding: .5em;
                content: "h1";
                display: inline-block;
                position: absolute;
                top: -30px;
                right: 0px;
                width: 2em;
                height: 2em;
                background: red;
                border-radius: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                color: white;
                font-weight: bold;
            }
        }

        h2 {
            &::before {
                font-size: .9rem;
                padding: .5em;
                content: "h2";
                display: inline-block;
                position: absolute;
                top: -30px;
                right: 0px;
                width: 2em;
                height: 2em;
                background: red;
                border-radius: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                color: white;
            }
        }

        p {
            &::before {
                font-size: .9rem;
                padding: .5em;
                content: "p";
                display: inline-block;
                position: absolute;
                top: -45px;
                right: 0px;
                width: 2em;
                height: 2em;
                background: red;
                border-radius: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                color: white;
            }
        }

        @include m(h0-ttl) {
            font-family: 'Playfair Display', serif;
            font-size: 7em;
            word-wrap: break-word;
            margin: 0 0 .2em;
            line-height: 1em;
            letter-spacing: .02em;


        }
    }
}