.mod-overview-wrapper {
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: end;
    background-color: rgb(20, 114, 202);
    overflow: hidden;
    position: relative;
    @include e(circles) {
        position: absolute;
        align-self: flex-end;
        justify-self: center;
        height: 35vh;
        @media screen and (min-width: 1200px) {
            // width: 100vw;
            height: 33vh;
            display: block;
        }
    }
    @include e(rocket) {
        width: 90vw;
        height: 50vh;
        justify-self: center;
        align-self: center;
        object-fit: cover;
        @media screen and(min-width: 768px) {
            object-fit: contain;
            width: 90vw;
        }
        @media screen and(min-width: 1200px) {
            object-fit: contain;
            width: 68vw;
        }
    }
    @include e(text) {
        text-align: center;
        width: auto;
        position: absolute;
        z-index: 9;
        padding: 1em 1em 2em 1em;
        height: auto;
        @media screen and(min-width: 768px) {
            padding: 1em 10em 2em 10em;
        }
    }
}