.rate-card-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);
    grid-template-areas: "image " "logo " "text ";
    border: 1px solid rgb(221, 221, 221);
    padding-bottom: 2em;
    @media screen and (min-width: 576px) {
        grid-template-columns: 1fr 3fr;
        grid-template-rows: repeat(2, auto);
        grid-template-areas: "image image" "logo text"
    }
    @include e(image) {
        text-align: center;
        background-color: red;
        grid-area: image;
        height: auto;
        max-height: 15em;
        position: relative;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
            max-width: 100%;
            min-width: 100%;
            min-height: 100%;
        }
    }
    @include e(play-button) {
        width: 2em;
        height: 2em;
        background-color: pink;
        position: absolute;
        right: 0;
        bottom: 0;
    }
    @include e(logo) {
        grid-area: logo;
        display: flex;
        justify-content: center;
        align-items: center;
        display: flex;
        align-items: center;
        justify-content: center;
        img {
            width: 5em;
            height: auto;
            margin: 1.5em;
        }
    }
    @include e(text) {
        grid-area: text;
        text-align: left;
        max-height: 8em;
        padding: 1.5em;
        overflow: hidden;
        align-self: center;
        display: grid;
        grid-template-columns: repeat(1, 100%);
        grid-template-rows: 1fr;
        h2 {
            margin: 0;
            font-size: 1.5em;
            font-weight: bold;
            color: rgba(0, 0, 0, 0.800);
        }
        p {
            font-size: .8em;
            line-height: 1.5em;
            color: rgba(0, 0, 0, 0.800);
        }
    }
    @include e(country) {
        font-size: .4em;
        font-style: italic;
        color: rgba(0, 0, 0, 0.400);
        font-weight: 200;
    }
}