.rate-card-wrapper {
  display              : grid;
  grid-template-columns: 1fr;
  grid-template-rows   : repeat(3, auto);
  grid-template-areas  : "image " "logo " "text ";
  border               : 1px solid rgb(221, 221, 221);
  @media screen and (min-width: 576px) {
    grid-template-columns: 1fr 3fr;
    grid-template-rows   : repeat(2, auto);
    grid-template-areas  : "image image" "logo text";
  }
  @include e(image) {
    text-align           : center;
    background-color     : red;
    grid-area            : image;
    height               : auto;
    max-height           : 15em;
    overflow             : hidden;
    display              : grid;
    grid-template-rows   : 1fr;
    grid-template-columns: 1fr;

    img {
      max-width  : 100%;
      min-width  : 100%;
      min-height : 100%;
      grid-column: 1/1;
      grid-row   : 1/1;
    }
  }
  @include e(play-button) {
    grid-column          : 1/1;
    grid-row             : 1/1;
    width                : 3em;
    height               : 3em;
    background-color     : #DC3535;
    display              : grid;
    grid-template-rows   : 1fr;
    grid-template-columns: 1fr;
    justify-self         : end;
    align-self           : end;

    i {
      display     : block;
      font-size   : 0.9em;
      color       : white;
      justify-self: center;
      align-self  : center;
    }
  }
  @include e(logo) {
    grid-area            : logo;
    display              : grid;
    grid-template-rows   : 1fr;
    grid-template-columns: 1fr;
    justify-items        : center;
    align-items          : center;

    img {
      width : 5em;
      height: auto;
      margin: 1.5em;
    }
  }
  @include e(text) {
    grid-area            : text;
    text-align           : left;
    padding              : 0 1em;
    overflow             : hidden;
    display              : grid;
    grid-template-columns: 1fr;
    grid-template-rows   : 1fr;
    align-items          : center;
    margin               : 1.7em 0;

    h2 {
      margin     : 0;
      font-size  : 1.5em;
      font-weight: bold;
      color      : rgba(0, 0, 0, 0.800);
    }

    p {
      font-size  : 0.8em;
      line-height: 1.5em;
      color      : rgba(0, 0, 0, 0.800);
      max-height : 3em;
      overflow   : hidden;
      margin     : 0;
    }

    & p:first-of-type {
      margin-bottom: 1em;
    }
  }
  @include e(country) {
    font-size  : 0.4em;
    font-style : italic;
    color      : rgba(0, 0, 0, 0.400);
    font-weight: 200;
  }
  @include e(rate-stars) {
    color    : #FFAA00;
    font-size: 1.2em;
  }
  @include e(rate-users) {
    font-size  : 0.7em;
    font-style : italic;
    color      : rgba(0, 0, 0, 0.400);
    font-weight: 200;
  }
}